:root{
    /*======= COLORS ==========*/
    --main-color: 198;
    --blue-color: hsl(var(--main-color), 33%, 25%);
    --lightblue-color: hsl(var(--main-color), 100%, 25%);
    --black-color: #000;
    --white-color: #fff;
    --gray-color: rgba(124, 124, 124, 0.2);
    --shadow-box: 1px 0 4px var(--gray-color);

    /*======== MARGENES =======*/
    --mb-0-25: .25rem;
    --mb-0-5: .5rem;
    --mb-0-75: .75rem;
    --mb-1: 1rem;
    --mb-1-25: 1.25rem;
    --mb-1-75: 1.75rem;
    --mb-2: 2rem;
    --mb-2-5: 2.5rem;

    /*======== FONT WEIGHT ==========*/
    --font-bold: 700;
    --font-semi-bold: 600;
    --font-regular: 500;

    /*========= FONT SIZE =========*/
    --h1-font-size: 1.938rem;
    --h2-font-size: 1.538rem;
    --p-font-size: .938rem;
    --smaller-font-size: .338rem;

    /*========= FONT ========*/
    --body-font: "Poppins", sans-serif;

    /*========= TRANSITION ========*/
    --img-transition: .3s;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: var(--body-font);
    font-weight: var(--p-font-size);
    font-weight: var(--font-regular);
}

input{
    border: none;
    cursor: pointer;
    outline: none;
}

img{
    width: 100%;
}

.section{
    position: relative;
    top: 0;
    padding: 0 var(--mb-0-5);
}

.section__container{
    display: grid;
    grid-template-columns: 1fr;
}

.section__img{
    grid-row: 1;
    grid-column: 1;
}

.section__data{
    grid-row: 2;
    grid-column: 1;
    transform: translateY(-10rem);
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section__data-container{
    background-color: var(--white-color);
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}

.section__data-login,
.section__data-senha{
    border: 1px solid var(--black-color);
}

.section__button{
    padding: var(--mb-0-5) var(--mb-1);
    width: 40%;
    background-color: var(--blue-color);
    color: var(--white-color);
    font-weight: var(--font-bold);
    transition: var(--img-transition);
}

.section__button:hover{
    background-color: var(--lightblue-color);
}

@media (min-width: 768px){
    .section{
        position: relative;
        height: 100vh;
        width: 100%;
        top: 0;
        left: 0;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .section__container{
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(5, 1fr);
        width: 600px;
        height: 600px;
    }
    
    .section__img{
        width: 50%;
        grid-column: 1 / span 3;
        grid-row: 1 / span 2;
    }
    
    .section__data{
        background-color: var(--white-color);
        box-shadow: var(--shadow-box);
        grid-column: 2 / span 2;
        grid-row: 2 / span 2;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: start;
        transform: translateY(0);
    }
    
    .section__data-title{
        margin-bottom: var(--mb-0-25);
        margin-top: var(--mb-0-5);
    }
    
    .section__data-login,
    .section__data-senha{
        border: 1px solid var(--black-color);
        padding-left: var(--mb-0-5);
        width: 40%;
        height: 15%;
        padding: .10rem;
        font-weight: var(--font-semi-bold);
    }
    
    .section__button{
        padding: var(--mb-0-5) var(--mb-1);
        background-color: var(--blue-color);
        color: var(--white-color);
        font-weight: var(--font-bold);
        transition: var(--img-transition);
    }
    
    .section__button:hover{
        background-color: var(--lightblue-color);
    }
}